.my_date{data: {date: "#{@date}"} }

.row{:style => "height: 100%;"}
  .col-md-8{:style => "height: 100%;"}
    #map_canvas{:style => "width: 100%; height: 100%;"}
  .col-md-4{:style => "height: 100%;"}
    #event_details

%script#template{:type => "x-tmpl-mustache"}
  %h3.event-title
    %a{href: "{{website}}", target: "_blank" } {{ title }}
  %hr
  %h4.event-venue {{ time }} - {{ venue }} 
  %h4.event-venue {{ address }}
  %hr
  %p {{{ body }}}
