.row
  .col-md-8
    #map_canvas{:style => "width: 100%; height: 700px;"}
  .col-md-4
    #event_details{style: "overflow-y: scroll; height: 700px;"}

%script#template{:type => "x-tmpl-mustache"}
  %h2 {{ title }}
  %h3 {{ venue }} <br> ({{ address }})
  %h2 {{ time }}
  %p {{{ content }}}
