.row
  .col-md-8
    #map_canvas{:style => "width: 100%; height: 700px;"}
  .col-md-4
    #event_details{style: "overflow-y: scroll; height: 700px;"}

%script#template{:type => "x-tmpl-mustache"}
  %h3 {{ title }}
  %hr
  %h4 {{ time }} - {{ venue }} ({{ address }})
  %hr
  %p {{{ content }}}
