.my_date{data: {date: "#{@date}"} }

.row{:style => "height: 100%;"}
  .col-md-3{:style => "height: 100%; padding: 15px;"}

    .row
      %form.navbar-form.pull-right{ action: "/", method: "GET", name: "search" }
        .form-group
          #datetimepicker1.input-group.date
            %input.form-control{:type => "text", name: "date", value: @date.strftime("%Y/%m/%d")}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar

        :javascript
          $(function () {
            $('#datetimepicker1').datetimepicker({
              format: "YYYY/MM/DD"
            });

            $('#datetimepicker1').on("dp.change", function(e){
              console.log("changed date")
              $("form[name=search]").submit()
            })
          });

    #event_details
      %hello

  .col-md-9{:style => "height: 100%; padding-left: 0px"}
    #map_canvas{:style => "width: 100%; height: 100%;"}

%script#template{:type => "x-tmpl-mustache"}
  %h3.event-title
    %a{href: "{{ ticket_url }}", target: "_blank" } {{ title }}
  %img{src: "{{ cover_photo_url }}", style: "width: 100%" }
  %hr
  %h4.event-venue {{ start_time }} - {{ end_time }}
  %h4.event-venue {{ location }}
  %h4.event-venue {{ address }}
  %hr
  %p {{{ description }}}
