@import "bootstrap-sprockets";
@import "bootstrap";

img.photo {
  width: 100%
}

body {
	padding-top: 50px;
	border-top: 0px;
}

body,html{
	height: 100%;
  overflow:hidden;
}

#event_details {
	overflow-y: scroll; 
	height: 600px;
	margin-right: 20px;
}

.event-title, .event-venue {
	text-align: center;
}